<%= form_for(@interview) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.label :interview_round %>
      <%= f.text_field :interview_type, class: 'form-control'%>

      <%= f.label :Interviewer %>
      <%= f.text_field :assignee, class: 'form-control'%>
      <br>
    </div>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>